PORT=4000
MONGODB_URI=mongodb+srv://vishwajeet:Vishu%401967@cluster0.nogkzlv.mongodb.net/posts_api?retryWrites=true&w=majority&appName=Cluster0
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID  
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET
AWS_S3_BUCKET=your-s3-bucket-name
AWS_S3_PUBLIC_BASE=https://your-s3-bucket-name.s3.ap-south-1.amazonaws.com
