PORT=4000
MONGODB_URI=mongodb://localhost:27017/posts_api
# AWS creds
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=REDACTED_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=REDACTED_AWS_SECRET_ACCESS_KEY
AWS_S3_BUCKET=posts-server-bucket-storage-1
AWS_S3_PUBLIC_BASE=https://posts-server-bucket-storage-1.s3.ap-south-1.amazonaws.com
